.error {
    padding: 4rem 1rem;
    text-align: center;
}

.error h1 {
    margin: 3rem 0;
    font-size: 5rem;
}

.text {
    margin-bottom: 3rem;
}

.link {
    display: inline-block;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    transition: all .5s linear;
}

.link:hover {
    background-color: #8ec4dd;
}